[Unit]
Description=Monetta - Monitoring and Logging Service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/share/monetta/run.py -f /etc/monetta/monetta.conf

[Install]
WantedBy=multi-user.target
